# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE files
/.vscode
/.idea

# Logs
/logs

# Cache and compiled files
/.cache
/.eslintcache
*.log
*.gz

# Testing
/coverage

# Miscellaneous
.DS_Store
